*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--Red_Hat_Display);
    font-size: 16px;
    background-color: #e0e8ff;
}
.wrapper__row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/src/images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}
.flex {
    display: flex;
}