:root {
    // color
    --Pale-blue: #e0e8ff;
    --Bright-blue: #3829e0;
    --Very-pale-blue: #f5f7ff;
    --Desaturated-blue: #7280a7;
    --Dark-blue: #1f2f56;

    // font-family
    --Red_Hat_Display: 'Red Hat Display', sans-serif;
}